html, body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

.inner {
  margin: 0 auto;
  max-width: 1690px;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .inner {
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
  .inner {
    padding: 0 120px;
  }
}

.btn--primary {
  background-color: #0e576a;
  border-radius: 1rem;
  border: 1px solid #0e576a;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0.2rem;
  min-width: 200px;
  padding: 15px;
  text-decoration: none;
}


.text-center {
  display: flex;
  justify-content: center;
}


/*  TABLE STYLING */
table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* FLEXBOX STYLING */

.grid--default {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 -20px;
}

.grid--default .grid-item {
  padding: 0 20px;
  width: calc(100% / 3);
}

/* FORM STYLING */
.form-group {
  line-height: 1.5;
}

.form-control {
  border-radius: 8px;
  border: 2px solid #000;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  padding: 8px 4px;
  transition: border .3s;
  width: 100%;
}

.form-control:hover {
  border: 2px solid #0e576a;
}