html, body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

.inner {
  margin: 0 auto;
  max-width: 1690px;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .inner {
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
  .inner {
    padding: 0 120px;
  }
}

.text-center {
  display: flex;
  justify-content: center;
}

/* FLEXBOX STYLING */

.grid--default {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 -20px;
}

.grid--default .grid-item {
  padding: 0 20px;
  width: 50%;
}