.btn--primary {
  background-color: #0e576a;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  min-width: 140px;
  padding: 16px 10px;
  text-decoration: none;
  width: 100%;
}

@media (min-width: 600px) {
  .btn--primary {
    min-width: 200px;
    padding: 16px;
  }
}
